<h3>{{ error }}</h3>
<h1>KANBAN BOARD</h1>

<form (ngSubmit)="addTodo()" class="add-todo-box">
    <div class="title-description-box">
        <div>
            <input type="text" name="title" [(ngModel)]="title" required placeholder="title...">
        </div>
        <div>
            <input type="text" name="description" [(ngModel)]="description" required placeholder="description...">
        </div>
    </div>
    <div>
        <div>
            <span>Due date: </span> <br>
            <input type="date" name="due_date" [(ngModel)]="due_date" required>
        </div>
        <div>
            <span>Priority: </span> <br>
            <input type="number" name="priority" [(ngModel)]="priority">
        </div>
    </div>
    <div>
      <select name="status" [(ngModel)]="status" required>
        <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div>
      <button type="submit" class="add-todo-button">+</button>
    </div>
  </form>
  

<table>
  <td (drop)="onDrop($event, 'To-do')" (dragover)="allowDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
    <span class="categories">To-Do</span>
    <div *ngFor="let todo of filterToDo(todos)" class="todobox" draggable="true" (dragstart)="onDragStart($event, todo)">
      <span class="todo-title">{{ todo.title }}</span>
      <span class="todo-description">{{ todo.description }}</span>
      <span>Created at: <br> {{ todo.created_at }}</span>
      <span>Due Date: <br> {{ todo.due_date }}</span>
      <span>Priority: {{ todo.priority }}</span>
      <div class="delete-button-box">
        <span (click)="deleteTodo(todo)" class="delete-button">X</span>
    </div>
    </div>
  </td>
  <td (drop)="onDrop($event, 'Do today')" (dragover)="allowDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
    <span class="categories">Do today</span>
    <div *ngFor="let todo of filterDoToday(todos)" class="todobox" draggable="true" (dragstart)="onDragStart($event, todo)">
      <span class="todo-title">{{ todo.title }}</span>
      <span class="todo-description">{{ todo.description }}</span>
      <span>Created at: <br> {{ todo.created_at }}</span>
      <span>Due Date: <br> {{ todo.due_date }}</span>
      <span>Priority: {{ todo.priority }}</span>
      <div class="delete-button-box">
        <span (click)="deleteTodo(todo)" class="delete-button">X</span>
    </div>
    </div>
  </td>
  <td (drop)="onDrop($event, 'In Process')" (dragover)="allowDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
    <span class="categories">In Process</span>
    <div *ngFor="let todo of filterInProcess(todos)" class="todobox" draggable="true" (dragstart)="onDragStart($event, todo)">
      <span class="todo-title">{{ todo.title }}</span>
      <span class="todo-description">{{ todo.description }}</span>
      <span>Created at: <br> {{ todo.created_at }}</span>
      <span>Due Date: <br> {{ todo.due_date }}</span>
      <span>Priority: {{ todo.priority }}</span>
      <div class="delete-button-box">
          <span (click)="deleteTodo(todo)" class="delete-button">X</span>
      </div>
    </div>
  </td>
  <td (drop)="onDrop($event, 'Done')" (dragover)="allowDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
    <span class="categories">Done</span>
    <div *ngFor="let todo of filterDone(todos)" class="todobox" draggable="true" (dragstart)="onDragStart($event, todo)">
      <span class="todo-title">{{ todo.title }}</span>
      <span class="todo-description">{{ todo.description }}</span>
      <span>Created at: <br> {{ todo.created_at }}</span>
      <span>Due Date: <br> {{ todo.due_date }}</span>
      <span>Priority: {{ todo.priority }}</span>
      <div class="delete-button-box">
        <span (click)="deleteTodo(todo)" class="delete-button">X</span>
    </div>
    </div>
  </td>
</table>
